.sidepannel-container {
  position: fixed;
  left: 20px;
  bottom: 20px;
  top: 20px;
}
.musiccard-container {
  position: relative;
  top: 20px;
  left: 12vw;
  right: 5vw;
}
.musicCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.button-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.home-button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 10px;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  background-color: #00e4ae;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}

.home-button:hover {
  background-color: #00c59e;
}

.home-button:active {
  transform: scale(0.95);
}